# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Баллы могут быть снижены** за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).

**Требования по сдаче практического задания**:
1. Ответ на вопрос и текстовый markdown с вашей логикой, почему вы выполнили это действие.
2. Залить в репу на github в папку module_1
3. Ссылку на репо отправлять мне на почту alexadevv@gmail.com не позднее дедлайна. 
4. Тема письма: Домашнее задание по модулю 1 <Фамилия Имя>
5. После дедлайна, неотправленные на почту задания, оцениваются максимум в 7 баллов.

In [110]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import pandas as pd
import numpy as np

In [111]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
data = pd.read_csv('baseball_games.csv', delimiter = ',', parse_dates=['date'], date_format='%Y-%m-%d')
data['game_hours_dec'].round()
data.head(10)
decimals = {'game_hours_dec': 2}
data.round(decimals)
data['day_of_week'] = pd.to_datetime(data['day_of_week'])

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,74.0,14.0,from Right to Left,Sunny,7,3.22,regular season,1,0,Win
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,55.0,24.0,from Right to Left,Overcast,5,2.38,regular season,1,0,Win
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,...,48.0,7.0,out to Leftfield,Unknown,6,3.18,regular season,1,0,Win
3,3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,...,65.0,10.0,from Right to Left,Cloudy,4,2.88,regular season,0,1,Loss
4,4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,...,77.0,0.0,in unknown direction,In Dome,7,2.65,regular season,0,1,Loss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,2458,31042.0,Toronto Blue Jays,2,7,5,2016-04-03,on turf,Day Game,Tampa Bay Rays,...,72.0,0.0,in unknown direction,In Dome,8,2.85,regular season,0,1,Loss
2459,2459,39500.0,St. Louis Cardinals,0,5,1,2016-04-03,on grass,Day Game,Pittsburgh Pirates,...,39.0,14.0,out to Leftfield,Unknown,5,3.03,regular season,1,0,Win
2460,2460,20098.0,San Francisco Giants,0,6,3,2016-04-06,on grass,Day Game,Milwaukee Brewers,...,66.0,0.0,in unknown direction,In Dome,7,3.32,regular season,1,0,Win
2461,2461,17883.0,Detroit Tigers,0,13,7,2016-04-06,on grass,Day Game,Miami Marlins,...,71.0,0.0,in unknown direction,In Dome,10,3.37,regular season,0,1,Loss
2462,2462,10298.0,Boston Red Sox,1,10,6,2016-04-06,on grass,Night Game,Cleveland Indians,...,60.0,7.0,out to Leftfield,Unknown,13,3.48,regular season,1,0,Win

## Проанализируем таблицу, посмотрим типы значей в колонках, null (info), размер(shape), общую статистику(describe), 'date' перевели из object в datetime(формат оставили только год-месяц-день) проверили, что в season несколько уникальных значений(в первых 15-ти строках только одно)

In [51]:
data['season'].unique()

array(['regular season', 'post season'], dtype=object)

In [5]:

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2463 entries, 0 to 2462
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         2463 non-null   int64
 1   attendance         2460 non-null   float64
 2   away_team          2463 non-null   object
 3   away_team_errors   2463 non-null   int64
 4   away_team_hits     2463 non-null   int64
 5   away_team_runs     2463 non-null   int64
 6   date               2463 non-null   datetime64[ns]
 7   field_type         2463 non-null   object
 8   game_type          2463 non-null   object
 9   home_team          2463 non-null   object
 10  home_team_errors   2463 non-null   int64
 11  home_team_hits     2463 non-null   int64
 12  home_team_runs     2463 non-null   int64
 13  start_time         2463 non-null   object
 14  venue              2463 non-null   object
 15  day_of_week        2463 non-null   object
 16  temperature        2463 non-null   float64
 17  wind_speed         2463 non-null   float64
 18  wind_direction     2463 non-null   object
 19  sky                2463 non-null   object
 20  total_runs         2463 non-null   int64
 21  game_hours_dec     2463 non-null   float64
 22  season             2463 non-null   object
 23  home_team_win      2463 non-null   int64
 24  home_team_loss     2463 non-null   int64
 25  home_team_outcome  2463 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(10), object(11)
memory usage: 500.4+ KB

In [13]:
data.shape

(2463, 26)

In [6]:
data.describe().T.round(2)

,count,mean,min,25%,50%,75%,max,std
Unnamed: 0,2463.0,1231.0,0.0,615.5,1231.0,1846.5,2462.0,711.151179
attendance,2460.0,30370.703659,8766.0,22432.0,30604.5,38396.25,54449.0,9875.466703
away_team_errors,2463.0,0.580593,0.0,0.0,0.0,1.0,5.0,0.793391
away_team_hits,2463.0,8.764515,1.0,6.0,8.0,11.0,22.0,3.511581
away_team_runs,2463.0,4.413723,0.0,2.0,4.0,6.0,21.0,3.104556
date,2463,2016-07-05 11:00:39.464068096,2016-04-03 00:00:00,2016-05-20 00:00:00,2016-07-04 00:00:00,2016-08-21 00:00:00,2016-11-02 00:00:00,NaN
home_team_errors,2463.0,0.585871,0.0,0.0,0.0,1.0,5.0,0.805542
home_team_hits,2463.0,8.611855,0.0,6.0,8.0,11.0,22.0,3.436965
home_team_runs,2463.0,4.519691,0.0,2.0,4.0,6.0,17.0,3.111572
temperature,2463.0,73.81892,31.0,67.0,74.0,81.0,101.0,10.583106
wind_speed,2463.0,7.494925,0.0,4.0,7.0,11.0,25.0,5.05597
total_runs,2463.0,8.933415,1.0,6.0,8.0,12.0,29.0,4.480352
game_hours_dec,2463.0,3.085302,1.25,2.783333,3.033333,3.308333,6.216667,0.460491
home_team_win,2463.0,0.529436,0.0,0.0,1.0,1.0,1.0,0.499234
home_team_loss,2463.0,0.470158,0.0,0.0,0.0,1.0,1.0,0.49921

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

## Определим сколько у нас уникальных значений, отсортированных по убыванию  и определим, что игр с одинаково максимальным значением было 2. Найдем строки с максимальным значением колонки 'attendance', выведем интересующие нас колонки в строках 358 и 360, затем получим значения колонок 'date' и 'venue' , как определители этох игр.

In [28]:
data['attendance'].value_counts().sort_index(ascending=False)

attendance
54449.0    2
54269.0    1
53901.0    1
53621.0    1
53449.0    1
          ..
10072.0    1
10068.0    1
9890.0     1
9393.0     1
8766.0     1
Name: count, Length: 2374, dtype: int64

In [37]:
data.loc[data['attendance'] == data['attendance'].max(),['attendance', 'home_team','away_team','date', 'start_time','venue']]

,attendance,home_team,away_team,date,start_time,venue
358,54449.0,Los Angeles Dodgers,Chicago Cubs,2016-10-20,8:09 p.m. Local,Dodger Stadium
360,54449.0,Los Angeles Dodgers,Chicago Cubs,2016-10-19,5:10 p.m. Local,Dodger Stadium

In [173]:
stadion1 = data.values[358,14]
stadion2 = data.values[360,14]
date1 = data.values[358,6]
date2 = data.values[360,6]
print(f"Максимальное количество зрителей за весь сезон было на {stadion1} {date1}  и на {stadion2} {date2}")

Максимальное количество зрителей за весь сезон было на Dodger Stadium 2016-10-20 00:00:00  и на Dodger Stadium 2016-10-19 00:00:00

# 2. Какая игра была самая холодная (temperature) за весь сезон?

## Найдем индекс строки с минимальным значением температуры, для ответа создадим переменные для f-string. Предвариткльно удостоверимся, что такое значение одно, поэтоиму можем применить idxmin.

In [16]:
data['temperature'].value_counts().sort_values().sort_index()

temperature
31.0     1
32.0     1
34.0     1
36.0     1
38.0     2
        ..
97.0     1
98.0     4
99.0     4
100.0    1
101.0    1
Name: count, Length: 67, dtype: int64

In [38]:
data.loc[[data['temperature'].idxmin()],['temperature', 'home_team','away_team','date', 'start_time','venue']]

,temperature,home_team,away_team,date,start_time,venue
2409,31.0,Detroit Tigers,New York Yankees,2016-04-09,1:10 p.m. Local,Comerica Park

In [13]:
min_temperature = data.values[2409,16]
stadion = data.values[2409,14]
date = data.values[2409,6]
print(f"Минимальная температура за весь сезон была на {stadion} {date} и составила {min_temperature} фаренгейт")

Минимальная температура за весь сезон была на Comerica Park 2016-04-09 00:00:00 и составила 31.0 фаренгейт

# 3. Какая игра была самая теплая за весь сезон?

## Аналогично предыдущей задаче, воспользуемся списком уникальных значений, полученных выше.

In [39]:
data.loc[[data['temperature'].idxmax()],['temperature', 'home_team','away_team','date', 'start_time','venue']]

,temperature,home_team,away_team,date,start_time,venue
2026,101.0,Arizona Diamondbacks,San Francisco Giants,2016-05-13,6:40 p.m. Local,Chase Field

In [70]:
min_temperature = data.values[2026,16]
stadion = data.values[2026,14]
date = data.values[2026,6]
print(f"Максимальная температура за весь сезон была на {stadion} {date} и составила {min_temperature} фаренгейт")

Минимальная температура за весь сезон была на Chase Field 2016-05-13 00:00:00 и составила 101.0 фаренгейт

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

## Проверим сколько уникальных значений по длительности игры было в сезоне - по одному значению маx min. Затем сделаем свобную таблицу с названиями команд, стадионом и датой и  временем проведения

In [20]:
data['game_hours_dec'].value_counts().sort_values(ascending=False).sort_index(ascending=False)

game_hours_dec
6.216667    1
5.933333    1
5.800000    1
5.783333    1
5.566667    1
           ..
2.116667    1
2.100000    1
2.033333    1
1.916667    1
1.250000    1
Name: count, Length: 168, dtype: int64

In [40]:
data.loc[[data['game_hours_dec'].idxmax()],['game_hours_dec', 'home_team','away_team','date', 'start_time','venue']]

,game_hours_dec,home_team,away_team,date,start_time,venue
1445,6.216667,Toronto Blue Jays,Cleveland Indians,2016-07-01,1:20 p.m. Local,Rogers Centre

In [89]:
game_time = data.values[1445,21]
stadion = data.values[1445,14]
date = data.values[1445,6]
print(f"Самая длительная игра была на  {stadion} {date} и составила {game_time:.2f} часа")

Самая длительная игра была на  Rogers Centre 2016-07-01 00:00:00 и составила 6.22 часа

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [41]:
data.loc[[data['game_hours_dec'].idxmin()],['game_hours_dec', 'home_team','away_team','date', 'start_time','venue']]

,game_hours_dec,home_team,away_team,date,start_time,venue
423,1.25,Pittsburgh Pirates,Chicago Cubs,2016-09-29,7:06 p.m. Local,PNC Park

In [97]:
game_time = data.values[423,21]
stadion = data.values[423,14]
date = data.values[423,6]
print(f"Самая короткая игра была на  {stadion} {date} и составила {game_time:.2f} часа")

Самая короткая игра была на  PNC Park 2016-09-29 00:00:00 и составила 1.25 часа

# 6. Сколько матчей в сезоне закончилось ничьей?

## В бейсболе нет ничьих, что видно из списка уникальных значений колонки home_team_outcome. Матч может заканчваться только победой одной из команд.

In [113]:
data['home_team_outcome'].unique()

array(['Win', 'Loss'], dtype=object)

# 7. Какая игра была последней в сезоне?

## Определим последнюю игру в сезоне, используя value_count. Чтобы получить больше информации, отсортируем игры по дате по убыванию, используя sort_values.Выведем первую строку

In [28]:
data['date'].value_counts().sort_values().sort_index(ascending=False)

date
2016-11-02     1
2016-11-01     1
2016-10-30     1
2016-10-29     1
2016-10-28     1
              ..
2016-04-07     8
2016-04-06    13
2016-04-05    12
2016-04-04    10
2016-04-03     3
Name: count, Length: 203, dtype: int64

In [115]:
data.sort_values(by='date',ascending=False).head(1).T

                                   350
Unnamed: 0                         350
attendance                     38104.0
away_team                 Chicago Cubs
away_team_errors                     3
away_team_hits                      13
away_team_runs                       8
date               2016-11-02 00:00:00
field_type                    on grass
game_type                   Night Game
home_team            Cleveland Indians
home_team_errors                     1
home_team_hits                      11
home_team_runs                       7
start_time             8:02 p.m. Local
venue                Progressive Field
day_of_week                  Wednesday
temperature                       69.0
wind_speed                         7.0
wind_direction      from Left to Right
sky                             Cloudy
total_runs                          15
game_hours_dec                4.466667
season                     post season
home_team_win                        0
home_team_loss                       1
home_team_outcome                 Loss

In [108]:
date=data.values[350,6]
print(f"Последняя игра в сезоне была {date}")

Последняя игра в сезоне была 2016-11-02 00:00:00

# 8. У какой игры было минимальное количество зрителей?

## Для определения конкретной игры к названию стадиона и дате добавим названия команд. Ранее мы уже определили, что такая игра была одна (задача 1)

In [42]:
data.loc[[data['attendance'].idxmin()],['attendance','venue','date','home_team','away_team']]

,attendance,venue,date,home_team,away_team
2130,8766.0,Progressive Field,2016-05-04,Cleveland Indians,Detroit Tigers

# 9. Какая игра в сезоне была самая ветренная?

##  Выведем значения строк, где скорость ветра максимальная.Затем оставим только интересующие нас колонки, чтобы определить игру(команды, стадион, дата)

In [43]:
data.loc[data['wind_speed']==data['wind_speed'].max(),['wind_speed','venue','date','home_team','away_team']]

,wind_speed,venue,date,home_team,away_team
1655,25.0,AT&T Park,2016-06-13,San Francisco Giants,Milwaukee Brewers
2005,25.0,Fenway Park,2016-05-15,Boston Red Sox,Houston Astros

# 10. В какой игре получили максимальное количество очков?

##В бейсболе очки - это раны, поэтому будем анализировать столбец total_runs.

In [44]:
data.loc[data['total_runs']==data['total_runs'].max(),['total_runs','venue','date','home_team','away_team']]

      total_runs       venue       date         home_team         away_team
1788          29  Petco Park 2016-06-02  San Diego Padres  Seattle Mariners

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [ ]:
## Анализируем столбец 'home_team_errors', получаем данные строки 1178 по колонкам 'home_team_errors','venue','date','home_team','away_team',
чтобы обозначить игру

In [45]:
data.loc[data['home_team_errors']==data['home_team_errors'].max(),['home_team_errors','venue','date','home_team','away_team']]

,home_team_errors,venue,date,home_team,away_team
1178,5,Miller Park,2016-07-27,Milwaukee Brewers,Arizona Diamondbacks

In [27]:
print('Максимальное количество ошибок домашней команды было на стадионе Miller Park 2016-07-27,Milwaukee BrewersAr против Arizona Diamondbacks')

Максимальное количество ошибок домашней команды было на стадионе Miller Park 2016-07-27,Milwaukee BrewersAr против Arizona Diamondbacks

# 12. В какой игре было максимальное количество хитов?

## Определяем количество уникальных значений с колонках away_team_hits и home_team_hits - больше для самоконтроля. Далее выбираем стороки с максимальными значениями в этих колонках используя or(|), выведем данные по колонкам с указанием стадиона и отсортируем по дате.

In [13]:
data['away_team_hits'].value_counts().sort_index(ascending=False)

away_team_hits
22      4
21      1
20      2
19     12
18     15
17     28
16     40
15     66
14     87
13    113
12    132
11    194
10    238
9     293
8     276
7     288
6     225
5     198
4     135
3      83
2      26
1       7
Name: count, dtype: int64

In [15]:
data['home_team_hits'].value_counts().sort_index(ascending=False)

home_team_hits
22      1
21      3
20      1
19     10
18     17
17     28
16     31
15     36
14     89
13     96
12    165
11    194
10    238
9     274
8     294
7     276
6     257
5     184
4     151
3      72
2      33
1      12
0       1
Name: count, dtype: int64

In [102]:
data_with_hits = data[(data['home_team_hits']==data['home_team_hits'].max()) | (data['away_team_hits']==data['away_team_hits'].max())]
df = data_with_hits[['home_team_hits','away_team_hits','venue','date']].sort_values(by='date')
df = seri

      home_team_hits  away_team_hits              venue       date
1558               9              22           PNC Park 2016-06-21
1441               8              22        Fenway Park 2016-07-02
1423              22              11         Citi Field 2016-07-03
1196               3              22   Kauffman Stadium 2016-07-26
461                6              22  Busch Stadium III 2016-09-26

In [103]:
print(f"Ответ представлен в таблице {df}")

Ответ представлен в таблице       home_team_hits  away_team_hits              venue       date
1558               9              22           PNC Park 2016-06-21
1441               8              22        Fenway Park 2016-07-02
1423              22              11         Citi Field 2016-07-03
1196               3              22   Kauffman Stadium 2016-07-26
461                6              22  Busch Stadium III 2016-09-26

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

## Выведем все уникальные значения команд и  количество игр для каждой из колонок 'away_team' и 'home_team' - получим два dataFrame с 29-ю строками. Затем получим сводную таблицу( common_date), и новый столбеw с суммой игр для каждой команды (common_games)

In [58]:
away_data = data['away_team'].value_counts().sort_index().reset_index()

In [59]:
home_data = data['home_team'].value_counts().sort_index().reset_index()

In [71]:
common_date=pd.merge(home_data, away_data, left_on='home_team', right_on='away_team', how='inner')
common_date.head(5)

              home_team  count_x             away_team  count_y
0  Arizona Diamondbacks       81  Arizona Diamondbacks       81
1        Atlanta Braves       81        Atlanta Braves       80
2     Baltimore Orioles       81     Baltimore Orioles       82
3        Boston Red Sox       82        Boston Red Sox       83
4          Chicago Cubs       89          Chicago Cubs       90

In [57]:
common_date['common_games'] = common_date['count_x']+common_date['count_y']
common_date

,home_team,count_x,away_team,count_y,common_games
0,Arizona Diamondbacks,81,Arizona Diamondbacks,81,162
1,Atlanta Braves,81,Atlanta Braves,80,161
2,Baltimore Orioles,81,Baltimore Orioles,82,163
3,Boston Red Sox,82,Boston Red Sox,83,165
4,Chicago Cubs,89,Chicago Cubs,90,179
5,Chicago White Sox,81,Chicago White Sox,81,162
6,Cincinnati Reds,81,Cincinnati Reds,81,162
7,Cleveland Indians,89,Cleveland Indians,87,176
8,Colorado Rockies,81,Colorado Rockies,81,162
9,Detroit Tigers,80,Detroit Tigers,81,161
10,Houston Astros,81,Houston Astros,81,162
11,Kansas City Royals,81,Kansas City Royals,81,162
12,Los Angeles Angels of Anaheim,81,Los Angeles Angels of Anaheim,81,162
13,Los Angeles Dodgers,86,Los Angeles Dodgers,87,173
14,Miami Marlins,80,Miami Marlins,81,161
15,Milwaukee Brewers,81,Milwaukee Brewers,81,162
16,Minnesota Twins,81,Minnesota Twins,81,162
17,New York Mets,82,New York Mets,81,163
18,New York Yankees,81,New York Yankees,81,162
19,Oakland Athletics,81,Oakland Athletics,81,162
20,Philadelphia Phillies,81,Philadelphia Phillies,81,162
21,Pittsburgh Pirates,81,Pittsburgh Pirates,81,162
22,San Diego Padres,81,San Diego Padres,81,162
23,San Francisco Giants,83,San Francisco Giants,84,167
24,Seattle Mariners,81,Seattle Mariners,81,162
25,St. Louis Cardinals,81,St. Louis Cardinals,81,162
26,Tampa Bay Rays,81,Tampa Bay Rays,81,162
27,Texas Rangers,83,Texas Rangers,82,165
28,Toronto Blue Jays,86,Toronto Blue Jays,85,171
29,Washington Nationals,84,Washington Nationals,83,167

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

## проанализируем столбцы 'home_team_win' и 'home_team'. Зададим условие по стобцу home_team_win ==1, значит этот матч принес home_team победу.Выведем список команд

In [98]:
home_winner = data[data['home_team_win']==1]['home_team'].value_counts()
home_winner.head(3)

home_team
Chicago Cubs           62
Cleveland Indians      58
Los Angeles Dodgers    55
Name: count, dtype: int64

In [95]:
print(f"Команда {home_winner.idxmax()} выиграла наибольшее количество домашних матчей")

Команда Chicago Cubs выиграла наибольшее количество домашних матчей

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

## Будем соотносить гостевые команды away_team  и проигрыши домашней команды home_team_loss==выигрыш гостевой команды. (home_team_loss==1)

In [104]:
away_winner = data[data['home_team_loss']==1]['away_team'].value_counts()
away_winner.head(3)

away_team
Chicago Cubs           52
St. Louis Cardinals    48
Boston Red Sox         46
Name: count, dtype: int64

In [112]:
print(f"Команда {away_winner.idxmax()} выиграла наибольшее количество гостевых матчей")

Команда Chicago Cubs выиграла наибольшее количество гостевых матчей

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

# 18. Зависит ли выигрыш от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

## Зададим фильтр по домашним проигрышам 'home_team_loss' по колонке дни недели. Выведем список значений и проанализируем данные.

In [114]:
loss_day = data[data['home_team_loss']==1]['day_of_week'].value_counts(ascending=False).head(2)

loss_day
{loss_day['a':'b'].to_dict()}"

day_of_week
Sunday     190
Tuesday    187
Name: count, dtype: int64

In [129]:
print(f"Большинство проигрышных домашних матчей приходится на {', '.join(map(str, loss_day.to_dict()))}")


data.loc[data['temperature'].apply(lambda x: x >32), ['home_team_runs', 'away_team_runs']].value_counts(ascending=True)

Большинство проигрышных домашних матчей приходится на Sunday, Tuesday

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

## Температура 0 указана в градусах Цельсия, а это 32 Фаренгейта. Укажем фильтр >32 по столбцу 'temperature'.Затем найдем максимальные значения по столбцам 'home_team_runs', 'away_team_runs' и сравним с полученными результатами, сделаем выводы.

In [230]:
data.loc[data['temperature'].apply(lambda x: x <32), ['home_team_runs', 'away_team_runs']]

      home_team_runs  away_team_runs
2409               4               8

In [219]:
data['home_team_runs'].max()

np.int64(17)

In [220]:
data['away_team_runs'].max()

np.int64(21)

In [213]:
if cold_runs > home_runs_max| away_runs_max:
    print("True")
else:
    print("False")

UFuncTypeError: ufunc 'less' did not contain a loop with signature matching types (<class 'numpy.dtypes.Int64DType'>, <class 'numpy.dtypes.StrDType'>) -> None